.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.form-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
}
.form-row label{
    padding-left: .2rem;
    font-size: small;
    font-weight: lighter;
    color: #3AAFA9;
    line-height: normal;
}
.form-row input{
    max-width: 700px;
    outline: none;
    padding: .5rem;
    height: 40px;
    padding-left: 1rem;
    line-height: normal;
    border-radius: 0.75rem;
    color: #c5eeec;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    margin-top: 5px;
}
.form-row input:focus{

    box-shadow: 0 0 0 1px black;
}
.input-error{
    box-shadow: 0 0 0 1px red;
}
.no-error{
    padding-left: 0.2rem;
    color: rgb(0, 255, 13);
    font-size: x-small;
    line-height: 1rem;
    font-weight: 300;
}
.error{
    padding-left: 0.2rem;
    color: red;
    font-size: x-small;
    line-height: 1rem;
    font-weight: 300;
}
.submit-btn-wrap{
    height: fit-content;
    padding: 20px 0;
}
.container button{
    
}
.enabled-btn:hover{
    background-color: black;
    font-size: 1.1rem;
    color: #3AAFA9;
}
.enabled-btn{
    background-color: transparent;
    border-radius: 0.75rem;
    width: 60%;
    max-width: 400px;
    height: 50px;
    border: 1px solid black;
    line-height: 1.75rem;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    position: relative;
    color: black;
    transition: .8s ease-in-out;
}
.disabled-btn{
    background-color: transparent;
    border-radius: 0.75rem;
    width: 60%;
    max-width: 400px;
    height: 50px;
    border: 1px solid black;
    line-height: 1.75rem;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    position: relative;
    color: black;
    transition: .8s ease-in-out;
    opacity: .5;
}

