.user-item {
  margin: 5px 0;
}

.user-item__content {
  padding: 0;
  border-radius: 1rem;
  background: #3AAFA9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.user-item__content:hover{
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
}

.user-item a {
  display: flex;
  
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: rgb(0, 0, 0);
  
}

.user-item a:hover,
.user-item a:active {

}



.user-item__image {
  background-color: black;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 2rem;
  border: 1px solid;
  text-align: center;
  display: flex;
  justify-content: center;
}

.user-item__image h2{
  color: #3AAFA9;  
  margin: auto;
}
.user-item__info h2 {
  font-size: 1.5rem;
  margin: 0;
}

.user-item__info h3 {
    margin: 0;
}

.user-item:hover h2,
.user-item:active h2,
.user-item:hover h3,
.user-item:active h3 {

}


.logout-button svg{
    margin: auto 10px auto 0;
} 